.btn {
  display: inline-block;
  padding: .75em 2.5em;
  text-decoration: none;
  background: #E36369;
  color: whitesmoke;
  border-radius: 7px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn:hover {
  background: #f8626a;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.landing {
  height: 100vh;
  background: center/cover no-repeat url(/imgs/landing.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

header {
  height: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

header img {
  height: 2.8em;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

header img:hover {
  scale: 1.1;
}

nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: 2;
  top: -100vh;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

nav ul li {
  list-style: none;
  margin: 35px 0;
}

nav ul li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  color: #f3f3f3;
  padding: 10px;
  letter-spacing: 2px;
  position: relative;
}

nav ul li a::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 0;
  background: #E36369;
  bottom: 0;
  left: 0;
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

nav img {
  height: 2.2em;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

.hamburger {
  height: 33px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

.hamburger span {
  display: block;
  background: #223661;
  height: 2px;
  width: 35px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.hamburger span:nth-of-type(2) {
  width: 27px;
}

.hamburger span:nth-of-type(3) {
  width: 23px;
}

.hamburger:hover span {
  width: 35px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 10;
      -ms-flex: 10 0;
          flex: 10 0;
  padding: 1rem;
}

.hero h1 {
  margin-top: 10rem;
  font-family: "Catamaran", sans-serif;
  font-size: 15vw;
  font-weight: 900;
  color: whitesmoke;
  line-height: .85;
  text-transform: uppercase;
}

.hero p {
  margin-top: .5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
}

.hero .hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  gap: .5em;
}

.hero button {
  margin-top: 1.4rem;
  padding: .7rem 1.5rem;
  border: 1px solid white;
  background: transparent;
  border-radius: 10px;
  color: white;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.hero button:hover {
  background: whitesmoke;
  color: black;
}

.hero #book-btn {
  background: whitesmoke;
  color: #000C26;
}

.hero #book-btn:hover {
  color: #E36369;
}

.tours {
  background: #000C26;
  height: auto;
  padding: 2rem;
  text-align: center;
  color: whitesmoke;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 24px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 24px 24px;
  z-index: 10;
}

.tours h2 {
  font-family: "Catamaran", sans-serif;
  font-size: 2.1rem;
}

.tours p:nth-of-type(2) {
  margin: 3rem 0 4rem;
}

.cards {
  margin-top: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.cards .card {
  width: 100%;
  height: 45vh;
  background: center/cover no-repeat url(/imgs/card1.jpg);
  border-radius: 20px;
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.cards .card:nth-of-type(2) {
  background: center/cover no-repeat url(/imgs/card2.jpg);
}

.cards .card:nth-of-type(3) {
  background: center/cover no-repeat url(/imgs/card3.jpg);
}

.cards .card .location {
  background: white;
  color: #000C26;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  padding: 3px 5px 3px 8px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.cards .card .location p {
  font-size: .9rem;
}

.cards .card .location img {
  height: 23px;
}

.cards .card h4 {
  font-size: 1.8rem;
}

.cards .card a {
  color: whitesmoke;
  margin: .5rem 0 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.cards .card a:hover {
  text-decoration: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cards .card:hover {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5em 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

.action img {
  width: 80%;
}

.action .action-desc {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.action .action-desc h2 {
  font-size: 2rem;
}

.action .action-desc p {
  width: 80%;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 300;
}

.show {
  opacity: 1 !important;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.adventure {
  padding: 4em 2.5em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  overflow: hidden;
}

.adventure video {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.adventure img {
  width: 50%;
  border-radius: 10px;
}

.adventure-description {
  margin-top: 1.5em;
  text-align: center;
  color: white;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.adventure-description h2 {
  font-size: 2.3rem;
}

.adventure-description p {
  margin: 1em auto;
  font-size: 1.15rem;
  width: 100%;
}

.experience .experience-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experience .experience-cards .card {
  padding: 4em 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2em;
  text-align: center;
  background: #2aa0a0;
  color: white;
}

.experience .experience-cards .card:nth-of-type(2) {
  background: #2892D7;
}

.experience .experience-cards .card:nth-of-type(3) {
  background: #2c4479;
}

.experience .experience-cards .card img {
  width: 3.5em;
  height: auto;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.experience .experience-cards .card .card-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .1em;
}

.experience .experience-cards .card .card-desc h4 {
  font-size: 1.4rem;
}

.experience .experience-cards .card .card-desc p {
  font-size: 1.1rem;
}

.experience .experience-cards .card .card-desc a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1em;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline::after {
  content: ' >';
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
  .underline:hover::after {
    opacity: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
}

.newsletter {
  padding: 5em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1em;
}

.newsletter input {
  width: 90%;
  height: 2em;
  border: 1px solid #000C26;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.newsletter input:focus {
  outline: none;
}

.newsletter a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog .blog-description {
  max-width: 100%;
  height: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  padding: 1.5em 2em;
}

.blog .blog-description h3 {
  font-size: 2rem;
  color: #000C26;
}

.blog .blog-description hr {
  width: 20%;
  color: #819eff;
}

.blog .blog-description p {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 300;
}

.blog .blog-description p:nth-of-type(2) {
  display: none;
}

.blog .blog-description a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #223661;
}

.blog .blog-description a:hover {
  background: #E36369;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials .testimonials-container {
  position: relative;
  padding: 1em 3em;
  background: #000C26;
  color: whitesmoke;
  height: 20em;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.testimonials .testimonials-container p {
  font-family: "Catamaran", sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
  font-style: italic;
}

.testimonials .testimonials-container span {
  text-transform: uppercase;
  color: #E36369;
  font: 700 1.2rem "Catamaran", sans-serif;
}

.testimonials .testimonials-container .testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 60%;
  width: 100%;
  text-align: center;
}

.testimonials .testimonials-container .testimonial .slide {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.testimonials #test-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials .strelice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e9e9e9;
  gap: .8em;
}

.testimonials .strelice img {
  height: 1.9em;
  -webkit-filter: invert(1);
          filter: invert(1);
  cursor: pointer;
}

@-webkit-keyframes testim-content-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes testim-content-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes testim-content-out {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes testim-content-out {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.gallery {
  padding: 3em 1em;
}

.gallery .gallery-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .gallery-header h3 {
  font-size: 1.6rem;
  font-family: "Catamaran", sans-serif;
}

.gallery .gallery-header a {
  text-decoration: none;
  color: #E36369;
  font-weight: 700;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.gallery .gallery-header a:hover {
  color: #000C26;
}

.gallery .gallery-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  --gap: 10px;
  --num-cols: 2;
  --row-height: 200px;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.gallery .gallery-grid a {
  overflow: hidden;
}

.gallery .gallery-grid a img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.gallery .gallery-grid a img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: .8;
}

.gallery .gallery-grid .grid-photo img {
  height: 100%;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background: #000C26;
  padding: 2em 0 1em;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

footer .footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

footer .map {
  display: none;
  text-align: center;
  max-width: 50%;
}

footer .map iframe {
  height: auto;
  max-width: 100%;
}

footer .quick-links {
  display: none;
}

footer .quick-links ul {
  list-style: none;
  text-align: center;
}

footer .quick-links ul li {
  cursor: pointer;
}

footer .quick-links ul li:hover {
  text-decoration: underline;
}

footer .quick-links ul li:not(:last-child) {
  margin-bottom: 5px;
}

footer .copy {
  margin-top: 1em;
  color: whitesmoke;
  text-align: center;
}

@media screen and (min-width: 420px) {
  .hero button {
    padding: .7em 2em;
  }
}

@media screen and (min-width: 600px) {
  .btn {
    font-size: 1.2rem;
  }
  .hero {
    padding: 2rem;
  }
  .hero h1 {
    font-size: 12vw;
  }
  .adventure img {
    max-width: 70%;
  }
  .blog .blog-description h3 {
    font-size: 2.5rem;
  }
  .testimonial .slide p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 800px) {
  nav ul li a {
    font-size: 3rem;
  }
  .hero {
    padding: 2rem;
  }
  .hero h1 {
    font-size: 10vw;
  }
  .hero p {
    font-size: 1.5rem;
    width: 90%;
  }
  .hero button {
    padding: .9em 2.8em;
    font-size: 1.3rem;
  }
  .tours {
    padding: 2em 1.5em;
  }
  .tours h2 {
    font-size: 2.5rem;
  }
  .tours p {
    font-size: 1.2rem;
    width: 80%;
    margin: 0 auto;
  }
  .tours p:nth-of-type(2) {
    margin: 3em auto;
  }
  .tours .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: .8em;
  }
  .tours .cards .card {
    height: 35vh;
  }
  .tours .cards .card h4 {
    font-size: 1.5rem;
  }
  .tours .cards .card a {
    font-size: 1.2rem;
  }
  .action {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 7em 5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .action img {
    max-width: 40%;
  }
  .action .action-desc {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .adventure {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 4em 1.5em;
    gap: 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .adventure img {
    max-width: 30%;
  }
  .adventure-description {
    margin: 0;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    text-align: left;
  }
  .adventure-description h2 {
    font-size: 2.6rem;
    width: 100%;
  }
  .adventure-description p {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: left;
    margin: .7em 0;
  }
  .experience .experience-cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .newsletter input {
    width: 70%;
  }
  .blog {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 40vh;
  }
  .blog img {
    max-width: 50%;
  }
  .blog .blog-description {
    max-width: 50%;
    height: 100%;
  }
  .blog .blog-description h3 {
    font-size: 2.5rem;
  }
  .blog .blog-description hr {
    width: 30%;
  }
  .blog .blog-description p {
    font-size: 1.1rem;
  }
  .testimonials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 40vh;
  }
  .testimonials img {
    max-width: 50%;
  }
  .testimonials .testimonials-container {
    max-width: 50%;
    height: 100%;
  }
  .gallery {
    padding: 3em 1.5em 7em;
  }
  .gallery .gallery-header h3 {
    font-size: 2rem;
  }
  .gallery .gallery-header a {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.3 rem;
  }
  header img {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  header .hamburger span {
    background: white;
  }
  .hero {
    padding: 2.5em;
  }
  .hero h1 {
    font-size: 8vw;
    width: 70%;
  }
  .tours {
    padding: 3em 2em;
  }
  .tours h2 {
    font-size: 3rem;
  }
  .tours p {
    width: 60%;
  }
  .tours .cards {
    gap: 1em;
  }
  .tours .cards .card {
    height: 50vh;
  }
  .tours .cards .card .location {
    gap: .5em;
  }
  .tours .cards .card .location p {
    font-size: 1.1rem;
    white-space: nowrap;
  }
  .tours .cards .card h4 {
    font-size: 2rem;
  }
  .tours .cards .card a {
    font-size: 1.5rem;
  }
  .action {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 7em 12em;
  }
  .action img {
    width: 80%;
  }
  .action .action-desc {
    width: 50%;
  }
  .action .action-desc h2 {
    font-size: 2.5rem;
  }
  .action .action-desc p {
    font-size: 1.3rem;
  }
  .action .action-desc a {
    margin-top: 1em;
  }
  .adventure {
    padding: 4em 6em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .adventure img {
    height: 20%;
    width: 25%;
  }
  .adventure .adventure-description {
    width: 50%;
  }
  .adventure .adventure-description h2 {
    font-size: 3rem;
  }
  .adventure .adventure-description p {
    font-size: 1.5em;
  }
  .experience .experience-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .experience .experience-cards .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .experience .experience-cards .card .card-desc {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .experience .experience-cards .card .card-desc h4 {
    font-size: 1.7rem;
  }
  .experience .experience-cards .card .card-desc p {
    font-size: 1.2rem;
  }
  .newsletter h2 {
    font-size: 1.7rem;
  }
  .newsletter p {
    font-size: 1.3rem;
  }
  .newsletter input {
    width: 45%;
  }
  .newsletter a {
    margin-top: 1em;
  }
  .blog {
    height: 50vh;
  }
  .blog .blog-description {
    padding: 0 5em;
    gap: 1.2em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .blog .blog-description h3 {
    font-size: 3rem;
  }
  .blog .blog-description p {
    font-size: 1.2rem;
    text-align: left;
  }
  .blog .blog-description p:nth-of-type(2) {
    display: block;
  }
  .testimonials {
    height: 40vh;
  }
  .testimonials .testimonials-container {
    height: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .testimonials .testimonials-container .testimonial {
    text-align: left;
  }
  .testimonials .testimonials-container p {
    font-size: 1.5rem;
  }
  .testimonials .testimonials-container span {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .testimonials .strelice img {
    height: 2.2em;
  }
  .gallery {
    padding: 5em 7em;
  }
  .gallery .gallery-grid {
    --gap: 1em;
    --num-cols: 3;
    --row-height: 250px;
  }
  footer .map {
    display: block;
  }
  footer .quick-links {
    display: block;
  }
}

@media screen and (min-width: 1400px) {
  header {
    padding: 0 4em;
  }
  header img {
    height: 3em;
  }
  .hamburger span {
    width: 40px;
    height: 3px;
  }
  .hamburger span:nth-of-type(2) {
    width: 32px;
  }
  .hamburger span:nth-of-type(3) {
    width: 28px;
  }
  .hamburger:hover span {
    width: 40px;
  }
  .hero {
    padding: 4em;
  }
  .hero h1 {
    font-size: 7vw;
    width: 70%;
  }
  .hero p {
    font-size: 1.7rem;
    width: 60%;
  }
  .hero button {
    font-size: 1.4em;
    padding: .7em 2.5em;
  }
  .tours {
    padding: 5em;
  }
  .tours .tours-p {
    width: 40%;
  }
  .tours .cards {
    margin: 5em 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3.5em;
  }
  .tours .cards .card {
    width: 25%;
    height: 60vh;
  }
  .action {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .action img {
    width: 25%;
  }
  .action .action-desc {
    width: 35%;
    text-align: right;
  }
  .action .action-desc h2 {
    font-size: 2.7rem;
  }
  .action .action-desc p {
    width: 90%;
    line-height: 1.3;
  }
  .adventure {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .adventure img {
    width: 15%;
  }
  .adventure .adventure-description {
    width: 30%;
    margin: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .adventure .adventure-description h2 {
    font-size: 2.8rem;
  }
  .adventure .adventure-description p {
    width: 100%;
    line-height: 1.3;
  }
  .experience .experience-cards {
    width: 100%;
  }
  .experience .experience-cards .card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    padding: 6em 3em;
  }
  .experience .experience-cards .card img {
    width: 4em;
  }
  .experience .experience-cards .card .card-desc h4 {
    font-size: 1.7rem;
  }
  .experience .experience-cards .card .card-desc p {
    font-size: 1.3rem;
  }
  .newsletter input {
    width: 40%;
  }
  .blog {
    height: 70vh;
  }
  .blog .blog-description {
    padding: 0 12em;
  }
  .blog .blog-description h3 {
    line-height: 1;
  }
  .testimonials {
    height: 70vh;
  }
  .testimonials .testimonials-container {
    height: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 5em;
    padding: 0 5em;
  }
  .testimonials .testimonials-container .testimonial {
    text-align: left;
    height: auto;
  }
  .testimonials .testimonials-container .testimonial .slide p {
    font-size: 1.8rem;
  }
  .testimonials .testimonials-container .testimonial .slide p:nth-child(2) {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */